body {
	padding-top: 50px;
}

.navbar {
	margin-bottom: 0;
}

.map{
	height: 500px;
	width: 100%;
	position: relative;
}

#routing {
	height: 100px;
	width: 800px;
	margin-left: 10px;
	display: none;
}

#contextMenu {
  position: absolute;
  display:none;
}


/* editing styles */
nav .edit {
	display: none;
	white-space: nowrap;
	float: right;
}
nav .edit .spacer {
	margin-right: 2em;
}
nav button.navbar-toggle {
	margin-left: 15px;
}

.center-wrapper {
	position: absolute;
	left: 50%;
}
.center-wrapper > div {
	position: relative;
	left: -50%;
}

#map #response {
	z-index: 99;
	margin-top: 12px;
	display: none;
}