body {
	padding-top: 50px;
}

.navbar {
	margin-bottom: 0;
}

.map{
	height: 500px;
	width: 100%;
}

#routing {
	height: 500px;
	width: 800px;
	margin-top: 50px;
	margin-left: 10px;
}

#contextMenu {
  position: absolute;
  display:none;
}


/* editing styles */
nav .edit {
	display: none;
	white-space: nowrap;
	float: right;
}
nav .edit .btn-group {
	margin-right: 2em;
}
nav button.navbar-toggle {
	margin-left: 15px;
}