body {

}

.map{
	height: 500px;
	width: 500px;
	margin-top: 50px;
	
}

.container{
	
}

#routing {
	height: 500px;
	width: 800px;
	margin-top: 50px;
	margin-left: 10px;
}

#contextMenu {
  position: absolute;
  display:none;
}
